@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  background: #07090f;
  color: #fff;
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  overflow: hidden;
}

::selection {
  background: rgba(0, 0, 0, 0.12);
}
